body
{
	font-family: Sans-Serif;
}

h2
{
	text-align: center;
}

li
{
	list-style-type: none;
	cursor: pointer;
	display: inline-block;
	margin: 20px;
	text-align: center;
}

li div
{
	height: 100px;
	width: 100px;
	display: block;
	border: solid 1px black;
}