*.exe
*.pdb
*.suo
*.manifest
*.tlog
*.cache
*.csproj.user
*.tmp
*FileListAbsolute.txt
*.upd
Facebook_demonstration/Facebook_demonstration/Facebook_demonstration/Resources/
Facebook_demonstration/Facebook_demonstration/Facebook_demonstration/bin/
Facebook_demonstration/Facebook_demonstration/Facebook_demonstration/obj/
*/obj/*