<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="FBMLMaster.master.cs" Inherits="FBMLSample.FBMLMaster" %>
<asp:label runat="server" id="css" />
<asp:label runat="server" id="js" />
<asp:label runat="server" id="header" >
<fb:dashboard/>
<fb:tabs>
<fb:tab-item title="Public"  href="default.aspx" selected="<%=Convert.ToInt32(selected=="default") %>"/>
<fb:tab-item title="Home"  href="home.aspx" selected="<%=Convert.ToInt32(selected=="home") %>" />
<fb:tab-item title="My Smiles"  href="mysmiles.aspx" selected="<%=Convert.ToInt32(selected=="mysmiles") %>"/>
<fb:tab-item title="New Smiley"  href="newsmiley.aspx" selected="<%=Convert.ToInt32(selected=="newsmiley") %>"/>
<fb:tab-item title="Send Smiley"  href="sendsmiley.aspx" selected="<%=Convert.ToInt32(selected=="sendsmiley") %>"/>
</fb:tabs>
</asp:label>
<div id="main_body">
    <asp:ContentPlaceHolder ID="body" runat="server">
    </asp:ContentPlaceHolder>
</div>
